.gallery{
  width: calc(100% - 30px);
  height: 400px;
  margin: 3% auto 3.5%;
}
.slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:  100%;
  height: 100%;
}

@media screen and (min-width: 1200px){
  .gallery{
  width: 1110px;}
}
@media (max-width: 1060px){
  .gallery{
    margin: 5em auto 3.5%;
  }
}